.mdl-card {
    width: auto;
    height: auto;
    margin: 2% 20% 0% 20%;
    background-color: #EEEEEE;
}

.text-w {
    color: black;
}

.demo-card-image>.mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

.demo-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}