<div class="mdl-grid" *ngIf="property">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--5-col">
        <div class="mdl-card__title text-w">
            <h2 class="mdl-card__title-text text-w">{{ property.address }}, {{ property.submarket || 'N/A' }}</h2>
        </div>
        <app-photos [photos]="property.photos"></app-photos>
        <div class="mdl-card__supporting-text">
            <p class="text-w">
                {{ property.location_description }}
            </p>
        </div>
        <div class="mdl-card__actions mdl-card--border">

            <button type="button" class="mdl-chip" *ngFor="let att of property_attributes">
              <span class="mdl-chip__text"> {{ att.name }} : {{ att.val }}</span>

            </button>
        </div>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">favorite</i>
    </button>
        </div>
    </div>


    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--6dp mdl-cell mdl-cell--7-col">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Lease Notes</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bullets of property.lease_bullets">
                <td class="mdl-data-table__cell--non-numeric"> {{ bullets }}</td>
                <td>true</td>
            </tr>
        </tbody>
    </table>


    <!--<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col">
    </div>-->
</div>