<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" *ngFor="let link of links" [routerLink]="link.route">
                        <span> <i class="material-icons"> {{ link.m_icon }} </i> {{ link.name }}  </span>
                    </a>
                </nav>
            </div>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"><span> <img src="/buildout_logo.png" style="width: 30px; height: 25px"> </span>{{ title }}</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" *ngFor="let link of links" [routerLink]="link.route">
                <span> <i class="material-icons"> {{ link.m_icon }} </i> {{ link.name }}  </span>
            </a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>